<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Bark And Ride</title>
    <!-- Latest compiled and minified CSS & JS -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://maxcdn.bootstrapcdn.com/bootswatch/4.0.0/flatly/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="css/styles.css" media="screen" title="no title">
    <script src="https://code.jquery.com/jquery.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
        crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="layouts/css/style.css">
</head>

<body>
    <!-- Nav-->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="index.html">WOOF!</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-item nav-link active" href="#">Ride<span class="sr-only">(current)</span></a>
                <a class="nav-item nav-link" href="#">Drive</a>

            </div>
        </div>
    </nav>
    <!-- END Nav-->
    <!-- FORM-->
    <br>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
            </div>
            <div class="col-md-4">
                <form>
                    <div class="form-group">
                        <label for="ownerName">Owner Name?</label>
                        <input type="email" class="form-control" id="ownerName" aria-describedby="emailHelp">
                    </div>
                    <div class="form-group">
                        <label for="ownerEmail">Owner Email?</label>
                        <input type="password" class="form-control" id="ownerEmail">
                    </div>
                    <div class="form-group">
                        <label for="petName">Pet Name?</label>
                        <input type="password" class="form-control" id="petName">
                    </div>
                    <div class="form-group">
                        <label for="serviceReq">Service Requested?</label>
                        <input type="password" class="form-control" id="serviceReq">
                    </div>
                    <div class="form-group">
                        <label for="breed">Breed?</label>
                        <input type="password" class="form-control" id="breed">
                    </div>
                    <div class="form-group">
                        <label for="spayNeu">Spayed/Neutered?</label>
                        <input type="password" class="form-control" id="spayNeu">
                    </div>
                    <div class="form-group">
                        <label for="meds">Medications?</label>
                        <input type="password" class="form-control" id="meds">
                    </div>
                    <button type="submit" class="btn btn-outline-success">Request A Ride</button>
                </form>
            </div>
            <div class="col-md-4">
            </div>
        </div>
    </div>
    <br>
    <br>
    <br>

    <!-- END FORM-->

    <!--Footer-->
    <nav class="navbar fixed-bottom navbar-light bg-light">
        <a class="navbar-brand" href="#"></a>
    </nav>
    <!-- END Footer-->
</body>

</html>