<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Bark And Ride</title>
    <!-- Latest compiled and minified CSS & JS -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://maxcdn.bootstrapcdn.com/bootswatch/4.0.0/flatly/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="css/styles.css" media="screen" title="no title">
    <script src="https://code.jquery.com/jquery.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="layouts/css/style.css">
</head>

<body>
    <!-- Nav-->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">WOOF!</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-item nav-link active" href="form.html">Ride<span class="sr-only">(current)</span></a>
                <a class="nav-item nav-link" href="#">Drive</a>

            </div>
        </div>
    </nav>
    <!-- END Nav-->
       <!-- content-->
    <br>
    <br>
    <br>
   
    <div class="container">
            <div class="row">
                <div class="col-md-4">
                        <div class="card w-75">
                                <div class="card-body">
                                  <h2 class="card-title">Move the way your pet wants</h2>
                                  <p class="card-text">Tap here. Get where you're pet is headed.</p>
                                  <a href="form.html" class="btn btn-primary">Let's ride</a>
                                </div>
                              </div>
                </div>
                <div class="col-md-5">
                        <img src="layouts/assets/istockphoto-824640132-612x612.jpg" >
                    </div>
                    <div class="col-md-7">
                           
                        </div>
        
         </div>
        </div>
        
 <!-- END content-->
                           
<!--Footer-->
<nav class="navbar fixed-bottom navbar-light bg-light">
        <a class="navbar-brand" href="#"></a>
      </nav>
      <!-- END Footer-->
</body>

</html>