body {
  background-color: #ECECEC;
}

.jumbotron {
  margin-bottom: 100px;
}

p {
  color: #88c1be;
}

button.submit {
  float: right;
}

form#cms {
  margin-top: 50px;
}

#cms textarea {
  resize: none;
}

small {
  font-size: 16px;
  padding-left: 20px;
}

.cred {
  color: red;
}

hr {
  border: 1px dashed black;
}

.card-body {
  margin: 0px;
}

.card-header button.delete,
button.edit {
  float: right;
  margin: 3px 5px;
  padding: 0px 3px;
}

.owner-container {
  margin-top: 50px;
}

.owner-list {
  margin-top: 25px;
}

.blog-container {
  margin-top: 50px;
}

.blog {
  margin-top: 30px;
}

.hidden {
  display: none;
}

#owner-name {
  width: 100%;
  height: 35px;
  margin-top: 5px;
}

.top-30 {
  margin-top: 30px;
}

p {
  font-family: 'Luckiest Guy', cursive;
}


.bg-light {
  background-color: gainsboro !important;
  font-weight: bold;
  font-size: 30px;
  -webkit-text-fill-color: #795d28;
  font-family: 'Luckiest Guy', cursive;

}

.card {
  border: none;

}

footer {
  background-color: black;

}

.footer {
  background-color: black;

}

img {
  image-rendering: auto;
  image-rendering: crisp-edges;
  image-rendering: pixelated;
}

h1 {

  font-family: 'Luckiest Guy', cursive;
  color: #eab62d;
}

h2 {
  font-family: 'Luckiest Guy', cursive;
  color: #795d28;

}

h4 {
  font-family: 'Luckiest Guy', cursive;
}

.btn-primary {
  color: #ECECEC;
  background-color: #795d28;
}