p {
font-family: 'Oxygen', sans-serif;
}


.bg-light {
    background-color: #88c1be!important;
    font-weight: bold;
    font-size: 20px;
    color: white;
    font-family: 'Oxygen', sans-serif;
}

.card {
 border: none;

}

footer {
background-color: black;

}

.footer {
background-color: black;

}
img {
    image-rendering: auto;
    image-rendering: crisp-edges;
    image-rendering: pixelated;
  }
